@use "../utilities/variables" as *;

footer {
  background-color: $color-oscuro; 
  color: $color-blanco;
  padding: 2rem 0;
  margin-top: 3rem;
  text-align: center;

  a {
    color: $color-secundario; // Coral #D9785B
    
    &:hover {
      color: lighten(#D9785B, 10%);
    }
  }
}