@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

header {
  width: 100%;
  padding: $espacio-base * 0; // Operador aritmético
  @include transicion-suave(all, 0.3s);

  @include responder-a(mobile) { // Invoca mixin
    padding: $espacio-base * 0.4;
  }
}