@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.card {
  box-shadow: $shadow-suave;
  border-radius: $borde-redondeado;
  padding: $espacio-base * 1.2; // Operador aritmético
  @include transicion-suave(transform, 0.3s); // Invoca mixin

  &:hover {
    transform: translateY(-5px);
  }

  @include responder-a(mobile) { // Invoca mixin
    margin-bottom: $espacio-base * 1;
  }
}